{% extends "Shared/layout.html" %}

{% block content %}

<div class="dsh-header">
    <div class="row mb-3">
        <div class="col-md-12">
            <h2 class="dsh-title">{{ title }}</h2>
            <a href="#" class="btn btn-primary btn-novo-cliente"><i class="fa fa-plus" aria-hidden="true"></i> NOVO</a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="row mb-3" style="margin-top: 10px;">
                    <div class="form-group col-md-4">
                        <label>Pesquisa: </label>
                        <input type="text" class="form-control" id="search" name="search" value="{{ search }}">
                    </div>
                    <!--<div class="form-group col-md-4" id="div-periodo">
                        <label>Período: </label>
                        <input type="text" class="form-control" id="periodo" name="periodo" value="{{ periodo }}" data-date="{{ periodo }}">
                    </div>-->
                </div>
                <div class="row mb-3">
                    <div class="form-group col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="btn-search" value="Filtrar">
                    </div>
                </div>

                <div id="conteudo">
                    {% comment %} {% include "Cliente/Tabela.html" %} {% endcomment %}
                </div>
            </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        console.log('Script index cliente');

        $('.btn-novo-cliente').click(function (e) {
            e.preventDefault();
            console.log('click novo cliente');

            //var loading = $('#modal-loading').clone().css('display', 'block');
            //$('#modal-container .modal-content').html(loading);
            $('#modal-container .modal-content').css("width", "900px");
            $('#modal-container .modal-content').css("height", "290px");
            $('#modal-container').off('shown.bs.modal');
            $('#modal-container').on('shown.bs.modal', function () {
                $.ajax({
                    url: '{% url "ModalNovoCliente" %}',
                    method: 'GET',
                    success: function (resposta) {
                        $('#modal-container .modal-content').css("height", "auto");
                        $('#modal-container .modal-content').html(resposta);
                    }
                });
                $('#modal-container').off('shown.bs.modal');
            });
            $('#modal-container').modal('show');
        });

        atualizarTabelaCliente();
    });

    function atualizarTabelaCliente() {

        $.ajax({
            url: '{% url "TabelaClientes" %}',
            method: 'GET',
            success: function (resposta) {
                $('#conteudo').html(resposta);
            }
        });
    }
</script>

{% endblock %}
