
<div class="modal-header">
    <h4 class="modal-title">Cadastro de Cliente</h4>
    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
</div>

<div class="modal-body">
    <form action="/salvarcliente/" method="post" id="form-cliente">
        {% csrf_token %}
        <input type="hidden" id="cliente-id" name="id" value="{{ cliente.id }}" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">CPF/CNPJ</label>
                    <input type="text" class="form-control" name="cpf_cnpj" id="cpf_cnpj" value="{{ cliente.cpf_cnpj }}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Nome/Razão Social</label>
                    <input type="text" class="form-control" name="nome" id="nome" value="{{ cliente.nome_razao }}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Data Nascimento/Criação</label>
                    <input type="date" class="form-control" name="data_nasc" id="data_nasc" value="{{ data_formatada }}" />
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label class="form-label">Endereço</label>
                    <input type="text" class="form-control" name="endereco" id="endereco" value="{{ endereco_principal.complemento }}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">CEP</label>
                    <input type="text" class="form-control" name="cep" id="cep" value="{{ endereco_principal.cep }}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="bairro" value="{{ endereco_principal.bairro }}" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="cidade" value="{{ endereco_principal.cidade }}" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label">Estado</label>
                    <input type="text" class="form-control" name="estado" id="estado" maxlength="2" value="{{ endereco_principal.estado }}" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" id="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
    <input type="submit" value="Salvar" class="btn btn-primary" id="btn-salvar" form="form-cliente" />
    
</div>

{% load static %}
<script src="{% static 'GestaoEvento/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'GestaoEvento/scripts/jquery.mask.min.js' %}"></script>
<script>
    $(document).ready(function () {
        console.log('Document ready modal cliente');

        $('#cpf_cnpj').focus();

        $('#cep').mask('00000-000');

        $('#cpf_cnpj').focus(function () {
            console.log('focus cpf/cnpj');
            $(this).unmask();
        });

        $('#cpf_cnpj').blur(function () {
            valor = $(this).val().replace(/[^\d]+/g, '')
            
            if (valor.length == 11 || valor.length == 14) {
                
                /*var consulta = buscarEntidadePorCpf(valor);

                if (consulta) {
                    preencherDadosEntidade(consulta);
                }*/

                if (valor.length == 11){
                    $(this).mask('000.000.000-00');
                } else if (valor.length == 14) {
                    $(this).mask('00.000.000/0000-00');
                }
            }
        })

        $.validator.messages.required = 'Campo obrigatório';

        $.validator.addMethod('valido', function (value, element) {
            console.log('Validando cpf');
            var valido = true;
            value = value.replace(/[^\w]+/g, '');

            if (value !== "" && !$(element).prop('disabled')) {
                if (value.length == 14) {
                    valido = validarCNPJ(value);
                }
                else if (value.length == 11) {
                    valido = validaCPF(value);
                } else {
                    valido = false;
                }
            }

            return valido;
        }, 'CNPJ/CPF inválido');

        $.validator.addMethod('existe', function (value, element) {
            console.log('Validando cliente existente');
            var valido = true;
            value = value.replace(/[^\w]+/g, '');

            if (value !== "" && !$(element).prop('disabled')) {
                if (value.length == 14 || value.length == 11) {
                    valido = !verificaEntidade(value);
                }
            }

            return valido;
        }, 'CNPJ/CPF já existe');

        $('#form-cliente').validate({
            onkeyup: false,
            rules: {
                'nome': {
                    required: true,
                    minlength: 3,
                },
                'cpf_cnpj': {
                    required: true,
                    valido: true,
                    existe: true,
                },
                'data_nasc': {
                    required: true,
                },
                'endereco': {
                    required: true,
                },
                'bairro': {
                    required: true,
                },
                'cidade': {
                    required: true,
                },
                'estado': {
                    required: true,
                },
            },
        });

        $('#form-cliente').submit(function (e) {
            e.preventDefault();

            var form = $(this);

            if (form.valid()) {
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {
                        $('#btn-salvar').val('Aguarde...');
                        $('#btn-salvar').attr('disabled', true);
                        //$('#submited').val(true);
                    },
                    complete: function () {
                        $('#btn-salvar').val('Salvar');
                        $('#btn-salvar').attr('disabled', false);
                        //$('#submited').val(false);
                    },
                    success: function (resposta) {
                        //notificationBar(resposta.sucesso, '@action.ToLower()', 'aliquotaicmsissqn', resposta.erro);
                        
                        if (resposta.sucesso) {
                            $('#modal-container').modal('hide');
                            atualizarTabelaCliente();
                        }
                    }
                });
            }
        });

        var cliente_id = $('#cliente-id').val();
        if ($('#cliente-id').val() != 'None') {
            $('#cpf_cnpj').prop('disabled', true);
            $('#cpf_cnpj, #cep').trigger('blur');
        }
    });
</script>