<table class="table">
    <thead>
        <tr>
            <th class="text-center">CPF/CNPJ</th>
            <th class="text-center">Nome/Razão Social</th>
            <th class="text-center">Data Nasc./Criação</th>
        </tr>
    </thead>

    <tbody>
        {% if clientes|length == 0 %}
        <tr>
            <td class="text-center" colspan="10">
                Sem itens para serem exibidos
            </td>
        </tr>
        {% else %}
            {% for cliente in clientes %}
            <tr>
                <td class="text-center">
                    {% if cliente.cpf_cnpj|length == 11%}
                    <span class="mask-cpf" >
                        {{ cliente.cpf_cnpj }}
                    </span>
                    {% else %}
                    <span class="mask-cnpj" >
                        {{ cliente.cpf_cnpj }}
                    </span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ cliente.nome_razao }}
                </td>
                <td class="text-center">
                    {{ cliente.data_nascimento_criacao|date:"d/m/Y" }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        console.log('tabela cliente');
        
        $('.mask-cpf').mask('000.000.000-00');
        $('.mask-cnpj').mask('00.000.000/0000-00');

    });
</script>
