
<div class="modal-header">
    <h4 class="modal-title">Cadastro de Itens de Locação</h4>
    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
</div>

<div class="modal-body">
    <form action="/salvaritemlocacao/" method="post" id="form-item-locacao">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Descrição</label>
                    <input type="text" class="form-control" name="descricao" value="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Custo Unidade</label>
                    <input type="text" class="form-control" name="custo-unidade" value="" placeholder="0,00"  />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" id="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
    <input type="submit" value="Salvar" class="btn btn-primary" id="btn-salvar" form="form-item-locacao" />
    
</div>

{% load static %}
<script src="{% static 'GestaoEvento/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'GestaoEvento/scripts/jquery.mask.min.js' %}"></script>
<script>
    $(document).ready(function () {
        console.log('Document ready modal item locacao');

        $('').focus();

        $('#descricao').mask('');

        $('custo').focus(function () {
            console.log('focus descricao');
            $(this).unmask();
        });

        $('#descricao').blur(function () {
            valor = $(this).val().replace(/[^\d]+/g, '')
            
            if (valor.length == 5 || valor.length == 50) {
                
            }
        })

        $.validator.messages.required = 'Campo obrigatório';

        $.validator.addMethod('valido', function (value, element)
            console.log('Validando descricao');
            var valido = true;
           value = value.replace(/[^\w]+/g, '');

            if (value !== "" && !$(element).prop('disabled')) {
                if (value.length == 5) {
                    valido = descricao (value);
                }
            }

            return valido;
        }, 'descricao inválida');

        $.validator.addMethod('existe', function (value, element) {
            console.log('Validando locacao existente');
            var valido = true;
            value = value.replace(/[^\w]+/g, '');

            if (value !== "" && !$(element).prop('disabled')) {
                if (value.length == 5) {
                    valido = !verificaEntidade(value);
                }
            }

            return valido;
        }, 'Locação já existe');

        $('#form-locacao').validate({
            onkeyup: false,
            rules: {
                'descricao': {
                    required: true,
                    minlength: 3,
                },
                'custo': {
                    required: true,
                    valido: true,
                    existe: true,
                },
            }     
        });

        $('#form-locacao').submit(function (e) {
            e.preventDefault();

            var form = $(this);
        }

            if (form.valid()) {
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {
                        $('#btn-salvar').val('Aguarde...');
                        $('#btn-salvar').attr('disabled', true);
                        //$('#submited').val(true);
                    },
                    complete: function () {
                        $('#btn-salvar').val('Salvar');
                        $('#btn-salvar').attr('disabled', false);
                        //$('#submited').val(false);
                    },
                    success: function (resp){
                        //notificationBar(resposta.sucesso, '@action.ToLower()', 'aliquotaicmsissqn', resposta.erro);
                        
                        if (resp.sucesso) {
                            $('#modal-container').modal('hide');
                            atualizarTabelaItemLocacao();
                        }
                    }                                       
                });

            }
    )       
</script>