<table class="table">
    <thead>
        <tr>
            <th class="text-center" style="width: 150px;">Código</th>
            <th class="text-left">Descrição</th>
            <th class="text-center" style="width: 150px;">Custo Unitário</th>
        </tr>
    </thead>

    <tbody>
        {% if itens_locacao|length == 0 %}
        <tr>
            <td class="text-center" colspan="10">
                Sem itens para serem exibidos
            </td>
        </tr>
        {% else %}
            {% for item_locacao in itens_locacao %}
            <tr>
                <td class="text-center">
                    {{ item_locacao.id }}
                </td>
                <td class="text-left">
                    {{ item_locacao.descricao }}
                </td>
                <td class="text-center">
                    {{ item_locacao.custo_unitario }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>