<table class="table">
    <thead>
        <tr>
            <th class="text-center" style="width: 150px;">Código</th>
            <th class="text-left">Cliente</th>
            <th class="text-center" style="width: 150px;">Qtd. Pessoas</th>
            <th class="text-center" style="width: 150px;">Data do Evento</th>
            <th class="" style="width: 100px;" ></th>
        </tr>
    </thead>

    <tbody>
        {% if orcamentos|length == 0 %}
        <tr>
            <td class="text-center" colspan="10">
                Sem itens para serem exibidos
            </td>
        </tr>
        {% else %}
            {% for orcamento in orcamentos %}
            <tr>
                <td class="text-center">
                    {{ orcamento.id }}
                </td>
                <td class="text-left">
                    {{ orcamentos.cliente.nome_razao }}
                </td>
                <td class="text-center">
                    {{ orcamentos.quantidade_pessoas }}
                </td>
                <td class="text-center">
                    {{ orcamentos.data_evento }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>