<table class="table">
    <thead>
        <tr>
            <th class="text-center">CPF/CNPJ</th>
            <th class="text-center">Nome/Razão Social</th>
            <th class="text-center">Data Nasc./Criação</th>
            <th class="text-center">Cidade - Estado</th>
        </tr>
    </thead>

    <tbody>
        {% if clientes|length == 0 %}
        <tr>
            <td class="text-center" colspan="10">
                Sem itens para serem exibidos
            </td>
        </tr>
        {% else %}
            {% for cliente in clientes %}
            <tr>
                <td class="text-center">
                    {{ cliente.cpf_cnpj }}
                </td>
                <td class="text-center">
                    {{ cliente.nome_razao }}
                </td>
                <td class="text-center">
                    {{ cliente.data_nascimento_criacao }}
                </td>
                <td class="text-center">
                    {{ cliente.endereco.cidade.descricao }} - {{ cliente.endereco.cidade.estado.descricao }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>