[data-bs-theme=gold] {
    color-scheme: gold;
    --bs-body-color: #000000;
    --bs-body-color-rgb: 0, 0, 0;
    --bs-body-bg: #fef2cf;
    --bs-body-bg-rgb: 254, 242, 207;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: #000000;
    --bs-secondary-color-rgb: 0, 0, 0;
    --bs-secondary-bg: #977208;
    --bs-secondary-bg-rgb: 151, 114, 8;
    --bs-tertiary-color: #000000;
    --bs-tertiary-color-rgb: 0, 0, 0;
    --bs-tertiary-bg: #977208;
    --bs-tertiary-bg-rgb: 151, 114, 8;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-dropdown-link-active-bg: #534620;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;

    .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e28e0c;
    --bs-btn-border-color: #e28e0c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b5720a;
    --bs-btn-hover-border-color: #b5720a;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #885507;
    --bs-btn-active-border-color: #885507;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ebb055;
    --bs-btn-disabled-border-color: #ebb055;
    }

    .dropdown-menu {
        --bs-dropdown-bg: #ead69d;
        --bs-dropdown-link-active-color: #fff;
        --bs-dropdown-link-active-bg: #534620;
        --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
        --bs-dropdown-header-color: #6c757d;
        color: var(--bs-dropdown-color);
        background-color: var(--bs-dropdown-bg);
    }

.btn-default {
    background-color: #d3b994;
}
}


body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.modal-dialog {
    max-width: fit-content;
}
input {
    max-width: none;
}

.form-group {
    margin-top: 10px;
}

.multiple-select button span {
    display: none;
}

.ms-choice {
    background-color: var(--bs-body-bg);
    border: none;
}

.form-select {
    --bs-form-select-bg-img: none;
}