<!DOCTYPE html>
<html data-bs-theme="gold">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Gestão de Eventos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GestaoEvento/bootstrap-5.3.0/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'GestaoEvento/content/multiple-select.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'GestaoEvento/content/site.css' %}" />

    {% block scripts %}
    <script src="{% static 'GestaoEvento/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'GestaoEvento/scripts/jquery-3.7.0.js' %}"></script>
    <script src="{% static 'GestaoEvento/bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'GestaoEvento/scripts/respond.js' %}"></script>
    <script src="{% static 'GestaoEvento/scripts/multiple-select.js' %}"></script>
    <script src="{% static 'GestaoEvento/scripts/jquery.validate.min.js' %}"></script>
    <script src="{% static 'GestaoEvento/scripts/jquery.mask.min.js' %}"></script>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'GestaoEvento/img/Logo_Juliana_Decor.jpeg' %}" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cadastros</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Cliente' %}">Cliente</a></li>
                            <li><a class="dropdown-item" href="{% url 'Prestador' %}">Prestador</a></li>
                            <li><a class="dropdown-item" href="{% url 'ItemLocacao' %}">Item de Locação</a></li>
                            <li><a class="dropdown-item" href="{% url 'UnidadeMedida' %}">Unidade de Medida</a></li>
                            <li><a class="dropdown-item" href="{% url 'Ingrediente' %}">Ingrediente</a></li>
                            <li><a class="dropdown-item" href="{% url 'Prato' %}">Prato</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Orcamento' %}">Orçamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Relatorio' %}">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Contato' %}">Contato</a>
                    </li>
                </ul>
                <!--{ include 'app/loginpartial.html' }-->
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <!-- main modal -->
        <div id="modal-container" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content" data-cy="modal"></div>
            </div>
        </div>

        <!-- second modal -->
        <div id="modal-container-2" class="modal fade" role="dialog" tabindex="-1" data-type="">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-2" data-cy="modal-2"></div>
            </div>
        </div>

        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Aplicativo Gestão de Evento</p>
        </footer>
    </div>

</body>
</html>
